@media screen and (max-width:320px){
    body{
        display: block;
    }
    nav{
        width: 100%;
        padding: 0;
        position: static;
    }
    .nav_btns{
        padding: 0;
    }
    .nav_head{
        font-size: 25px;
        padding-right: 15px;
    }
    ul{
        display: block;
        overflow: scroll;
    }
    header{
        width: 100%;
        display: block;
        padding-left: 0;
    }
    .header_heading{
        width: 100%;
        text-align: center;
        font-size: 15px;
        padding-top: 100px;
    }
    .header_heading-2{
        width: 100%;
        height: auto;
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }
    .round_img{
        padding-top: 0;
        width: 250px;
        padding-left: 0;
    }
    main{
        width: 100%;
        height: auto;
        display: block;
        padding-left: 4%;
        padding-bottom: 100px;
        padding-top: 100px;
    }
    .cards{
        width: 80%;
        padding-bottom: 20px;
        animation: moveUp 1.5s ease-out forwards;
        position: relative;
        opacity: 0;
        position: relative;
    }
    .about_us{
        display: block;
        width: 100%;
        height: auto;
    }
    .img_container{
        width: 100%;
        height: auto;
        padding-bottom: 0;
    }
    .img-1{
        width: 140px;
    }
    .img-2{
        width: 45px;
    }
    .img-3{
        width: 45px;
    }
    .img-4{
        width: 140px;
    }
    .two_img_container{
        padding-left: 0;
        margin-left: 5px;
    }
    .two_img_container-2{
        padding-left: 0;
        margin-left: 5px;
    }
    .about_content{
        width: 100%;
        height: auto;
        padding-left: 10px;
    }
    .about-1{
        padding-top: 20px;
    }
    .box{
        display: block;
    }
    .box-1{
        width: 100%;
        margin-bottom: 20px;
    }
    .about-btn{
        margin-top: 50px;
    }
    .dinner{
        display: block;
        text-align: center;
    }
    .food_menu{
        width: 100%;
        display: block;
    }
    .video_form{
        width: 100%;
        display: block;
    }
}


