*{
    margin: 0;
    padding: 0;
}

.main{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(1-hero-image.webp);
    height: 800px;
    background-size: cover;
   
}
  .head{
    display: flex;
    color: white;
    height: 100px;
    font-size: 12px;
    gap: 800px;
    align-items: center;
    justify-content: center;
  } 
ul{
    color: white;
    display: flex;
    gap: 30px;
    list-style: none;
}
.head2{
    color: white;
    padding-left: 175px;
    padding-top: 220px;
    font-size: 25px;
}
.line{
    color: white;
    padding-left: 175px;
    padding-top: 30px;
}
.line2{
    padding-top: 40px;
}
.red{
    display: flex;
    gap: 10px;
    padding-left: 175px;
    padding-top: 30px;
}
.mail{
    height: 30px;
    border-radius: 5px ;
    width: 300px;
    border: none;
    

}
.button{
    cursor: pointer;
    height: 30px;
    width: 250px;
    background-color: rgb(237, 59, 59);
    color: white;
    border-radius: 5px ;
    border: none;

}
.head3{
    padding-left: 175px;
    padding-top: 60px;
}
.imgm{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;
}
.img{
    height: 400px;
    border-radius: 4px;
}